DiscordCode/discord_keys_devils.txt
DiscordCode/discord_values_devils.txt
DiscordCode/post_devils_discord.py

HelperCode/banana_trait_db.json
HelperCode/humanoids_trait_db.json
HelperCode/sirens_trait_db.json

InstagramCode/instagram_generate_user_token_values_sirens.txt
InstagramCode/instagram_values_sirens.txt
InstagramCode/post_sirens_instagram.py

RedditCode/reddit_values_humanoids.txt
RedditCode/post_humanoids_reddit.py

TwitterCode/twitter_values_banana.txt
TwitterCode/twitter_values_humanoids.txt
TwitterCode/twitter_values_sirens.txt
TwitterCode/post_bananas_twitter.py
TwitterCode/post_humanoids_twitter.py
TwitterCode/post_sirens_twitter.py