AsynchronousTwitterCode/asynchronous_post_yachts_twitter.py
AsynchronousTwitterCode/asynchronous_twitter_values_yachts.txt
AsynchronousTwitterCode/asynchronous_post_humanoids_twitter.py
AsynchronousTwitterCode/asynchronous_twitter_values_humanoids.txt
AsynchronousTwitterCode/asynchronous_twitter_code_humanoids.py
AsynchronousTwitterCode/asynchronous_twitter_code_yachts.py
AsynchronousTwitterCode/asynchronous_post_whoops_twitter.py
AsynchronousTwitterCode/asynchronous_twitter_values_whoops.txt

DiscordCode/discord_values_yachts.txt
DiscordCode/discord_values_yachts_real.txt
DiscordCode/post_yachts_discord.py
DiscordCode/asynchronous_discord_code_yachts.py
DiscordCode/asynchronous_discord_code_whoops.py
DiscordCode/discord_values_whoops.txt
DiscordCode/post_whoops_discord.py

HelperCode/banana_trait_db.json
HelperCode/generator_values_for_tmux_file.txt
HelperCode/humanoids_images_db.json
HelperCode/humanoids_trait_db.json
HelperCode/sirens_trait_db.json
HelperCode/yachts_db.json
HelperCode/config.txt

InstagramCode/instagram_generate_user_token_values_sirens.txt
InstagramCode/instagram_values_sirens.txt
InstagramCode/post_sirens_instagram.py

RedditCode/post_humanoids_reddit.py
RedditCode/reddit_values_humanoids.txt

TumblrCode/post_humanoids_tumblr.py
TumblrCode/tumblr_values_humanoids.txt

TwitterCode/post_bananas_twitter.py
TwitterCode/post_sirens_twitter.py
TwitterCode/twitter_values_banana.txt
TwitterCode/twitter_values_sirens.txt

Logs/LogFiles/sirens-of-the-sea_log_file.txt
Logs/LogFiles/sirens-of-the-sea_old_log_file.txt

BuildBotsWebApp/website_key.txt

AndroidApp/.gradle
AndroidApp/app/build
AndroidApp/.idea
AndroidApp/*.iml
AndroidApp/local.properties