<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <title>OpenSea Bots</title>
</head>
<body>
 <div class="topnav">
     <a class="active" href="{{ url_for('home') }}">Home</a>
     <a href="{{ url_for('twitter.twitter') }}">Twitter</a>
     <a href="{{ url_for('discord.discord') }}">Discord</a>
 </div>
    <div id="container">
      <div id="content">
        <div id="about">
          <h1>
          </h1>
          <h3 class="subhead">
            Epicmanmoo's Opensea Bot Builder Website<span class="blinking">. . .</span>
          </h3>
          <p>
            Here, you will be able to create Opensea Sales bots and host them.
          </p>
        </div>
      </div>
    </div>

    <div id="social">
        <a href="https://github.com/epicmanmoo/post-from-os" target="_blank">Github</a>
    </div>

</body>
</html>