<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <title>OpenSea Bots</title>
</head>
<body>

    <div id="container">
      <div id="content">
        <div id="about">
          <h1>
          </h1>
          <h3 style='clear:both' class="subhead">
            Epicmanmoo's Opensea Bot Builder Website<span class="blinking">. . .</span>
          </h3>
          <p id='pright'>
            Here, you will be able to create Opensea Sales bots and host them.
          </p>
          <p>
            To begin, click either of the two links below!
          </p>
            <hr style="width:100%;text-align:left;margin-left:0">
          <ul>
            <li><a href="{{ url_for('twitter') }}">Twitter Sales Bot Builder</a></li>
              <br>
            <li><a href="{{ url_for('discord') }}">Discord Sales Bot Builder</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="social">
        <a href="https://github.com/epicmanmoo/post-from-os">Github</a>
    </div>

</body>
</html>