body {
background-color: #141414;
background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEyMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0nYycgd2lkdGg9JzYwJyBoZWlnaHQ9JzEyMCcgeD0nMCcgeT0nMCcgdmlld0JveD0nMCAwIDUgMTAnPgoJCQk8cGF0aCBmaWxsLW9wYWNpdHk9JzAnIHN0cm9rZT0nIzI5MjkyOScgc3Ryb2tlLXdpZHRoPScwLjA5JyBkPSdNLTIsMUw3LDEwTS0yLDZMNywxNU0tMiwtNEw3LDUnLz4KCQk8L3BhdHRlcm4+CgkJPHBhdHRlcm4gcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgaWQ9J2MyJyB3aWR0aD0nNjAnIGhlaWdodD0nMTIwJyB4PScxMDAlJyB5PScwJyB2aWV3Qm94PScwIDAgNSAxMCc+CgkJCTxwYXRoIGZpbGwtb3BhY2l0eT0nMCcgc3Ryb2tlPScjMjkyOTI5JyBzdHJva2Utd2lkdGg9JzAuMDknIGQ9J003LDFMLTIsMTBNNyw2TC0yLDE1TTcsLTRMLTIsNScvPgoJCTwvcGF0dGVybj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPSc1MCUnIGhlaWdodD0nMTAwJScgZmlsbD0ndXJsKCNjKScvPgoJPHJlY3QgeD0nNTAlJyB3aWR0aD0nNTAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYzIpJy8+Cjwvc3ZnPg==');

margin:0; padding:0;
overflow-x:hidden;
height:100%;
font-family: 'Lato', Helvetica, arial, sans-serif;
font-weight: 300;
font-size: 20px;
line-height: 1.45;
color: #eee;
color: rgba(255,255,255,.85);
}

#container {
padding-top: 50px;
}

#content {
max-width: 43em;
padding:10px;
margin: 0 auto;
}

#content a {
color: #fefefe;
}

#content a:hover {
color: #ff2d00;
}

#social {
position: fixed;
left: 50%;
bottom: 0px;
transform: translate(-50%, -50%);
margin: 0 auto;
}

#social a {
color: #fefefe;
}

#social a:hover {
color: #ff2d00;
}

.blinking {
-webkit-animation: 1s blink ease infinite;
-moz-animation: 1s blink ease infinite;
-ms-animation: 1s blink ease infinite;
-o-animation: 1s blink ease infinite;
animation: 1s blink ease infinite;
}

@keyframes "blink" {

from,
to {
  opacity: 0;
}

50% {
  opacity: 1;
}
}

@-moz-keyframes blink {

from,
to {
  opacity: 0;
}

50% {
  opacity: 1;
}
}

@-webkit-keyframes "blink" {

from,
to {
  opacity: 0;
}

50% {
  opacity: 1;
}
}

@-ms-keyframes "blink" {

from,
to {
  opacity: 0;
}

50% {
  opacity: 1;
}
}

@-o-keyframes "blink" {

from,
to {
  opacity: 0;
}

50% {
  opacity: 1;
}
}